body {
  width: 100%;
  background-color: #bfd7ff;
  color: #ffffff;
  margin-top: 10%;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  outline: none;
  background-color: #9bb1ff;
  color: #ffffff;
  border-radius: 24px;
  padding: 16px 32px;
  margin: 50px 10px 50px 10px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #9bb1ff;
}

.remove-btn {
  margin-left: -73%;
  margin-top: 5%;
}
